# Project Specification & Guidelines

Use the project specification and guidelines to build the Todo app.

## Overview

Commanders-log is a web app that allows users to record their notes, upload audio recordings, videos, and image files, and generate summaries of their activities.

## Tech Stack

- Frontend: React, TypeScript, TailwindCSS
- Backend: FastAPI, SQLite, SQLAlchemy, Pydantic
- Auth: Clerk
- Payments: Stripe

## Specification

## Guidelines

Follow these rules:

- All components should go in `/components` and be named like `example-component.tsx` unless otherwise specified
- All utils should go in `/lib` and be named like `example-utils.ts` unless otherwise specified
- All endpoints should go in `/api/api.py` and should follow RESTful API design principles
- note all features in the project spec, and implement them one by one. Do not build out features that are not in the project spec
- for new features, create a new file in the `/prompts/instructions` folder and write the instructions for the feature
